/*!
 * Dragon Oath v1.0 (http://vuathienlong.com)
 * Copyright 2011-2018 VTL, Inc.
 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}
::-webkit-scrollbar-thumb:active {
    background: #333333;
}
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 2px;
}
::-webkit-scrollbar-track:hover {
    background: #ffffff;
}
::-webkit-scrollbar-track:active {
    background: #ffffff;
}
::-webkit-scrollbar-corner {
    background: transparent;
}



/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
 body {
	background-color: #f5f5f5;
	color: #666666; 
} 

img, 
video {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
	vertical-align: middle;	
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
Tables
--------------------------------------------------------------*/
table {
	border-collapse: collapse;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}
th {
	padding: 0.4em;
	text-align: left;
}
tr {
	border-bottom: 1px solid #eee;
}
td {
	padding: 0.4em;
}
th:first-child,
td:first-child {

}
th:last-child,
td:last-child {

}

/*--------------------------------------------------------------
## Nav
--------------------------------------------------------------*/
.nav-pills > li > a {
	color: #666666;
	font-weight: bold;	
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #ffffff;
	background: #f0ad4e;
}

/*--------------------------------------------------------------
## Navbar
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .navbar-collapse {
        background-color: #111111;
        border: none;
        position: fixed;
        top: 0;
        transition: all 0.5s ease-out;
        height: 100%;
        width: 100%;
        left: 767px;
        z-index: 999;
		overflow-x: auto;	
    }
	.navbar-nav {
		margin: 4.5px -15px;
	}
	.admin-bar .navbar-collapse {
		top: 46px;
	}	
	html.navbar-open,
	body.navbar-open {
		overflow-y: hidden;	
		height: 100%;
	}	
}
.navbar-toggle-indexcity {
    position: fixed;
    z-index: 9999;
    right: 0;
}
.navbar-collapse-right {
    right: 15px !important;
    left: 15px !important;
}
.navbar {
    background-color: transparent;
    border: none;
	text-transform: uppercase;		
}
.navbar-dragonoath {
    background-color: transparent;*/
}
.navbar-dragonoath .navbar-brand {
    color: #f3f3f3;
}
.navbar-dragonoath .navbar-brand:hover,
.navbar-dragonoath .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-dragonoath .navbar-text {
    color: #f3f3f3;
}
.navbar-dragonoath .navbar-nav > li > a {	
    color: #f3f3f3;
	font-weight: bold;	
}
.navbar-dragonoath .navbar-nav > li > a:hover,
.navbar-dragonoath .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-dragonoath .navbar-nav > .active > a,
.navbar-dragonoath .navbar-nav > .active > a:hover,
.navbar-dragonoath .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: rgba(52, 73, 94, 0.3);
}
.navbar-dragonoath .navbar-nav > .disabled > a,
.navbar-dragonoath .navbar-nav > .disabled > a:hover,
.navbar-dragonoath .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}
.navbar-dragonoath .navbar-toggle {
    border: none;
}
.navbar-dragonoath .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-dragonoath .navbar-collapse,
.navbar-dragonoath .navbar-form {
    border-color: #101010;
}
.navbar-dragonoath .navbar-nav > .open > a,
.navbar-dragonoath .navbar-nav > .open > a:hover,
.navbar-dragonoath .navbar-nav > .open > a:focus {
    background-color: rgba(52, 73, 94, 0.3);
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-dragonoath .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > li > a {
        color: #f3f3f3;
    }
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: rgba(52, 73, 94, 0.3);
    }
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-dragonoath .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}
.navbar-dragonoath .navbar-link {
    color: #f3f3f3;
}
.navbar-dragonoath .navbar-link:hover {
    color: #ffffff;
}
.navbar-dragonoath .btn-link {
    color: #f3f3f3;
}
.navbar-dragonoath .btn-link:hover,
.navbar-dragonoath .btn-link:focus {
    color: #ffffff;
}
.navbar-dragonoath .btn-link[disabled]:hover,
fieldset[disabled] .navbar-dragonoath .btn-link:hover,
.navbar-dragonoath .btn-link[disabled]:focus,
fieldset[disabled] .navbar-dragonoath .btn-link:focus {
    color: #444444;
}

/*--------------------------------------------------------------
## Panels
--------------------------------------------------------------*/
.panel{
    border: none;	
	-webkit-box-shadow:none;
	box-shadow: none;
    height: 445px;
}
.panel-dragonoath > .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-color: #f0ad4e;
    color: #666666;
	font-weight: bold;	
    background-color: #ffffff;
}
.panel-dragonoath > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dddddd;
}
.panel-dragonoath > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #666666;
}
.panel-dragonoath > .panel-dragonoath-heading {
    border-bottom: 1px solid transparent;
    border-color: #f0ad4e;
    background-color: #ffffff;
	
}
.panel-dragonoath > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #dddddd;
}

/*--------------------------------------------------------------
## Buttons Reg And Pay
--------------------------------------------------------------*/
.btn-dragonoath-reg {
    color: #f0ad4e;
    background-color: #471706;
    border-color: #5d3c1f;
}
.btn-dragonoath-reg:focus,
.btn-dragonoath-reg.focus {
    color: #f0ad4e;
    background-color: #4d1907;
    border-color: #761c19;
}
.btn-dragonoath-reg:hover {
    color: #f0ad4e;
    background-color: #4d1907;
    border-color: #6b4320;
}
.btn-dragonoath-reg:active,
.btn-dragonoath-reg.active,
.open > .dropdown-toggle.btn-dragonoath-reg {
    color: #f0ad4e;
    background-color: #4d1907;
    border-color: #6b4320;
}
.btn-dragonoath-reg:active:hover,
.btn-dragonoath-reg.active:hover,
.open > .dropdown-toggle.btn-dragonoath-reg:hover,
.btn-dragonoath-reg:active:focus,
.btn-dragonoath-reg.active:focus,
.open > .dropdown-toggle.btn-dragonoath-reg:focus,
.btn-dragonoath-reg:active.focus,
.btn-dragonoath-reg.active.focus,
.open > .dropdown-toggle.btn-dragonoath-reg.focus {
    color: #f0ad4e;
    background-color: #6b4320;
    border-color: #761c19;
}
.btn-dragonoath-reg:active,
.btn-dragonoath-reg.active,
.open > .dropdown-toggle.btn-dragonoath-reg {
    background-image: none;
}
.btn-dragonoath-reg.disabled:hover,
.btn-dragonoath-reg[disabled]:hover,
fieldset[disabled] .btn-dragonoath-reg:hover,
.btn-dragonoath-reg.disabled:focus,
.btn-dragonoath-reg[disabled]:focus,
fieldset[disabled] .btn-dragonoath-reg:focus,
.btn-dragonoath-reg.disabled.focus,
.btn-dragonoath-reg[disabled].focus,
fieldset[disabled] .btn-dragonoath-reg.focus {
    background-color: #471706;
    border-color: #5d3c1f;
}
.btn-dragonoath-reg .badge {
    color: #471706;
    background-color: #f0ad4e;
}

/*--------------------------------------------------------------
## Label
--------------------------------------------------------------*/
.label-dragonoath-primary {
	background-color: #f0ad4e;
}

/*--------------------------------------------------------------
## Begin Worpdress Style
--------------------------------------------------------------*/
.site-title a,
.site-description {
	color: #ffffff;
}
.custom-logo{
	display: block;
	width: 250px;
}
.custom-logo-link {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
}

.wp-custom-header-video  {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;	
}

.wp-custom-header-image  {
    float: left;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;	
}

.wp-custom-header iframe,
.wp-custom-header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index:-1;	
}

.wp-custom-header .wp-custom-header-video-button { /* Specificity prevents .color-dark button overrides */
	background-color: rgba(34, 34, 34, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: rgba(255, 255, 255, 0.6);
	height: 45px;
	overflow: hidden;
	padding: 0;
	position: absolute;	
	right: 15px;
	top: 40px;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	width: 45px;
	z-index: 1;	
}

.wp-custom-header .wp-custom-header-video-button:hover,
.wp-custom-header .wp-custom-header-video-button:focus { /* Specificity prevents .color-dark button overrides */
	border-color: rgba(255, 255, 255, 0.8);
	background-color: rgba(34, 34, 34, 0.8);
	color: #fff;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	padding-left: 0;
    text-align: center;
    list-style: none;	
}
.site-main .pagination {
	margin: 0;	
}
	
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;	
	display: inline;	
}
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a{
    display: inline-block;
    padding: 5px 14px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 0px;

	
} 
.comment-navigation .nav-previous a:hover,
.posts-navigation .nav-previous a:hover,
.post-navigation .nav-previous a:hover,
.comment-navigation .nav-previous a:focus,
.posts-navigation .nav-previous a:focus,
.post-navigation .nav-previous a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}    

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	display: inline;
}

.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a {
    display: inline-block;
    padding: 5px 14px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 0px;
}
.comment-navigation .nav-next a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-next a:hover,
.comment-navigation .nav-next a:focus,
.posts-navigation .nav-next a:focus,
.post-navigation .nav-next a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}

.nav-links {}
.nav-links .page-numbers {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
.nav-links .page-numbers:hover,
.nav-links .page-numbers:focus {
	text-decoration: none;
	background-color: #eeeeee;
}
.nav-links .page-numbers + .dots {
	color: #777;
    cursor: not-allowed;
    background-color: #fff;
}
.nav-links .page-numbers + .current {
	z-index: 3;
	color: #ffffff;
	background-color: #337ab7;
	border-color: #337ab7;
	cursor: default;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/	
/* Reset default widgets. */
.widget {
	margin: 0 0 20px;
    
}
.widget ul {
	padding: 15px 0px 15px 0px;	
    list-style: none;
    margin: 0;	
}
.widget ul li,
.widget ol li {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px 15px;
}
.widget ul li + li {
	margin-top: -1px;
}
.widget ul li ul {
	margin: 0 0 -1px;
	padding: 0;
	position: relative;
}
.widget ul li li {
	border: 0;
	padding-left: 24px;
	padding-left: 1.5rem;
}
.widget select {
	max-width: 100%;
}
.widget .widget-title {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-color: #f0ad4e;
    font-weight: bold;	
    background-color: #ffffff;	
}

/* text widget */
.widget_text {}
.widget_text .textwidget {
	padding: 15px;	
}
.widget_text .custom-html-widget {
	padding: 0px;	
}
/* Menu */
.widget_nav_menu {}
.widget_nav_menu ul {}
.widget_nav_menu ul li {
	text-transform: uppercase;	
} 
.widget_nav_menu ul li a {
    color: #666666;
}
.widget_nav_menu ul li a:hover,
.widget_nav_menu ul li a:focus {
	color: #23527c;
    text-decoration: none;	
}

/* RSS Widget */
.widget_rss .widget-title .rsswidget:first-child {
	float: right;
}
.widget_rss .widget-title .rsswidget:first-child:hover {
	background-color: transparent;
}
.widget_rss .widget-title .rsswidget:first-child img {
	display: block;
	padding-top: 3px;	
}
.widget_rss ul {}
.widget_rss ul li {}
.widget_rss ul li:first-child {
	border-top: none;
	padding-top: 0;
}
.widget_rss li .rsswidget {
	font-weight: 300;
	line-height: 1.4;
}
.widget_rss .rss-date,
.widget_rss li cite {
	color: #767676;
	display: block;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0.18em;
	line-height: 1.5;
	text-transform: uppercase;
}
.widget_rss .rss-date {
	margin: 0.5em 0 0.5em;
	padding: 0;
}
.widget_rss .rssSummary {
	margin-bottom: 0.5em;
}

/* links widget */
.widget_links {}
.widget_links ul {	}
.widget_links ul li {}
.widget_links ul li a {}

/* meta widget */
.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}
.widget_meta ul li a {}

/* pages widget */
.widget_pages {}
.widget_pages ul {}
.widget_pages ul li {}
.widget_pages ul li a {
    color: #666666;			
}
.widget_pages ul li a:hover,
.widget_pages ul li a:focus {
	color: #23527c;
    text-decoration: none;	
}

/* recent-posts widget */
.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}
.widget_recent_entries ul li a {
    color: #666666;		
}
.widget_recent_entries ul li a:hover,
.widget_recent_entries ul li a:focus {
	color: #23527c;
    text-decoration: none;	
}

/* archives widget */
.widget_archive {}
.widget_archive ul {}
.widget_archive ul li {
    color: #f0ad4e;		
} 
.widget_archive ul li a {
    color: #666666;		
}
.widget_archive ul li a:hover,
.widget_archive ul li a:focus {
	color: #23527c;
    text-decoration: none;	
}

.widget_archive select {}
.widget_archive option {}

/* Links widget */
.widget_links {}
.widget_links li:after {}
.widget_links li:before {}

/* tag-cloud widget */
.widget_tag_cloud {}
.widget_tag_cloud .tagcloud {	
	padding: 15px;
}
.widget_tag_cloud a {
    color: #666666;		
}
.widget_tag_cloud a:hover,
.widget_tag_cloud a:focus {
	color: #23527c;
    text-decoration: none;	
}
.widget_tag_cloud a:after {}
.widget_tag_cloud a:before {}

/* category widget */
.widget_categories {background: #fff;}
.widget_categories ul {background: #fff;}
.widget_categories ul li {
    color: #f0ad4e;	
} 
.widget_categories ul ul.children {}
.widget_categories a {
    color: #666666;	
}
.widget_categories a:hover,
.widget_categories a:focus {
	color: #23527c;
    text-decoration: none;	
}
.widget_categories select{}
.widget_categories option {}
.widget_categories .level-0 {}
.widget_categories .level-1 {}
.widget_categories .level-2 {}
.widget_categories .level-3 {}

/* Gallery widget */
.rl-gallery-widget {}
.rl-gallery-widget .widget-title{
	margin-bottom: 15px;	
}
/* Recent Comment widget */
.widget_recent_comments {}
.widget_recent_comments ul {
}
.widget_recent_comments ul li {} 
.widget_recent_comments ul li a {}
.comment-author-link {
	font-weight: bold;
}

/* search widget */
.widget_search {}
.widget_search .widget-title{
	margin-bottom: 15px;	
}
.widget_search .search-form {}

/* Top widget */
.widget_top_rank{	
    padding: 5px 15px 0px;
    border: none;
    visibility: visible;
    width: 100%;
    height: 404px;
}


/* Calendar Widget */
.widget_calendar {}
.calendar_wrap {}
#wp-calendar {
	width: 100%;
    margin: 15px 0px;	
}
#wp-calendar th {
	text-align: center;	
}
#wp-calendar tr {
	text-align: center;	
}
#wp-calendar caption {
	font-weight: bold;
	text-align: center;	
}
#wp-calendar a {
}
#wp-calendar #today {
	background: #666666;
	color: #ffffff;	
}
#wp-calendar #prev {	
}
#wp-calendar #next {
}
#wp-calendar #next a {}
#wp-calendar #prev a {}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.content {
	margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;	
}
.post-id {}
.post {}
.page {}
.attachment {}
.sticky {
	display: block;
}
.hentry {
	margin-bottom: 20px;
}
.line {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.updated:not(.published) {
	display: none;
}
.category-misc {}
.category-example {}
.tag-news {}
.tag-wordpress {}
.tag-markup {}

.page-header {
    margin: 20px 0 20px;
}
.entry-header{
	padding-bottom: 9px;
	border-bottom: 1px solid #eeeeee;	
}
.entry-title {
    margin-top: 0px;
    margin-bottom: 5px;
	font-weight: bold;	
}
.entry-meta{
	color: #999999;	
}
.entry-meta .cat-links,
.entry-meta .tags-links,
.entry-meta .author,
.entry-meta .comments-link,
.entry-meta .edit-link {
	display: inline-table;
}
.entry-meta .cat-links a,
.entry-meta .tags-links a,
.entry-meta .author a,
.entry-meta .comments-link a,
.entry-meta .edit-link a{
    color: #999999;	
}

.entry-footer{	
	color: #999999;
    padding: 8px 0px;
    margin: 20px 0 20px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.entry-footer .cat-links,
.entry-footer .tags-links {
}
.entry-footer .cat-links a,
.entry-footer .tags-links a {
	color: #999999;		
}

.page-content,
.entry-content,
.entry-summary {
    margin: 10px 0 20px;
}

.page-links {
	clear: both;
}
.related-posts{
	margin: 20px 0 0 0;		
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*Comment Output*/
.comment-list .comment-body {
    margin-bottom: 15px;	
}
.comment-list .comment-content {
    padding: 13px;
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
	border-top: 0px;
}
.comment-list .reply {
    padding-top: 10px;
}
.comment-list .reply a {
    color: #999999;
    text-decoration: none;
}

.comment-list .alt {}
.comment-list .odd {}
.comment-list .even {}
.comment-list .thread-alt {}
.comment-list .thread-odd {}
.comment-list .thread-even {}
.comment-list li ul.children .alt {}
.comment-list li ul.children .odd {}
.comment-list li ul.children .even {}
.comment-list .vcard {}
.comment-list .vcard b.fn {}

.comment-list .vcard span.says {
    display: none;	
}
.comment-list .vcard img.photo {}
.comment-list .vcard img.avatar {
    float: left;	
    margin: 0 10px 0 0px;	
}
.comment-list .vcard cite.fn a.url {}

.comment-list .comment-meta {
    padding: 15px;		
    background-color: #f5f5f5;
} 
.comment-list .comment-meta a {}
.comment-list .comment-metadata {
    margin: -20px;		
}
.comment-list .comment-metadata a {
    color: #999999;		
}

.comment-list .parent {}
.comment-list .comment {}
.comment-list .children {}
.comment-list .pingback {}
.comment-list .bypostauthor {}
.comment-list .comment-author {	}
.comment-list .comment-author-admin {}
.comment-list {
	list-style: none;
    padding-left: 0px;
}
.comment-list li {
	list-style: none;
}
.comment-list li p {}
.comment-list li ul {}
.comment-list li ul.children li {}
.comment-list li ul.children li.alt {}
.comment-list li ul.children li.byuser {}
.comment-list li ul.children li.comment {}
.comment-list li ul.children li.depth-{} {}
.comment-list li ul.children li.bypostauthor {}
.comment-list li ul.children li.comment-author-admin {}

/*Comment Form */
.comment-respond { 
	min-height: 20px;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
} 
.comment-reply-title{
	margin-top: 10px;	
}
.comment-form { }
.comment-notes { }
.required {
	font-weight: bold;
	color: red;	
 }
.comment-form-author { }
.comment-form-email { }
.comment-form-url { }
.comment-form-comment { }
.form-allowed-tags { }
.form-submit{}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}
.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Box Service Download + Reg + Pay
--------------------------------------------------------------*/
.img-download {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.img-download:hover {
    -webkit-filter: saturate(150%); /* Safari 6.0 - 9.0 */
	-moz-filter: saturate(150%);
	-ms-filter: saturate(150%);
	-o-filter: saturate(150%);	
    filter: saturate(150%);
	}
	
.widget-default {
    max-width: 295px;
    display: block;	
}
.widget-service {
    width: 100%;
    height: 100%;
    background: #31496f;
    text-align: center;
}
.widget-service p {
    color: #ffffff;
    font-size: 14px;
}
.widget-service strong {
    color: #ffffff;
    line-height: 36px;
}
.widget-service h5 {
    margin: 0 8px;
    border-top: 1px dotted #ffffff;
    color: #ffffff;
}
.widget-service h5 strong {
    color: #ffffff;
    font-size: 14px;
}
/*--------------------------------------------------------------
## News Tab
--------------------------------------------------------------*/
.media-home-news {
    padding: 2px 0px 13px 0px;
} 
.media-left-home-news {
	max-width: 100px;
} 
.title-home-news{
	display:grid;
}
.title-home-news a{
    font-size: 18px;
	font-weight: bold;	
	color: #666666;	
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;		
}
.title-home-news a:hover,
.title-home-news a:focus{
	color: #23527c;
    text-decoration: none;
}
.excerpt-home-news{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -moz-box; 
	-moz-line-clamp: 3;
	-moz-box-orient: vertical;	
}
.excerpt-home-news p{
	margin: 0;
}
.list-home-news {
    padding: 6.69px 0;
	border-bottom: 1px solid #eeeeee;
	display: flex;
    -webkit-box-align: center;
    align-items: center;	
}
.list-home-news a {	
	color: #666666;	
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;	
    -webkit-box-flex: 2;
    flex-grow: 2;
}

.list-home-news a:hover,
.list-home-news a:focus{
	color: #23527c;	
    text-decoration: none;
}
.list-home-public-date {
    flex-shrink: 1;
    flex-basis: 50px;
    text-align: right;
	color: #999999;	
}
	
.view-more-news {
	padding: 10px 15px;
	color: #666666;		
}

.view-more-news:hover,
.view-more-news:focus{
	color: #23527c;	
    text-decoration: none;
}

.list-related-posts {
    padding: 5px 0;
	border-bottom: 1px dotted #eeeeee;
	display: flex;
    -webkit-box-align: center;
    align-items: center;		
}
.list-related-posts a {
	color: #666666;	
	text-transform: uppercase;	
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;	
    -webkit-box-flex: 2;
    flex-grow: 2;
}
.list-related-posts a:hover,
.list-related-posts a:focus{
	color: #23527c;	
    text-decoration: none;
}
.list-related-public-date {
    flex-shrink: 1;
    flex-basis: 50px;	
    text-align: right;
	color: #999999;		
}
.footer-info-contact {
    padding: 40px 0px;
    background-color: #f5f5f5;
}
.footer-copyright {

    padding-top: 30px;
    padding-bottom: 20px;
}

 
/*--------------------------------------------------------------
## for Facebook
--------------------------------------------------------------*/
 

 

/* Animation */
.animation-frame {
    left: 0;
    overflow: hidden;
    padding-bottom: 50%;
    position: absolute;
    right: 0;
    top: 0;
	margin-top: 0;
    z-index: 3;
}

@media (max-width: 320px) {
	.animation-frame {
		padding-bottom: 14%;
	}
}
.light1 {
    animation-delay: 0ms !important;
    bottom: 2%;
    opacity: 0;
    width: 20px;
}
.light2 {
    animation-delay: 500ms !important;
    bottom: 10%;
    opacity: 0;
    width: 50px;
}
.light3 {
    animation-delay: 1550ms !important;
    bottom: 25%;
    opacity: 0;
    width: 60px;
}
.light4 {
    animation-delay: 2230ms !important;
    bottom: 35%;
    opacity: 0;
    width: 120px;
}
.light5 {
    animation-delay: 500ms !important;
    bottom: 41%;
    opacity: 0;
    width: 80px;
}
.light6 {
    animation-delay: 680ms !important;
    bottom: 65%;
    opacity: 0;
    width: 15px;
}
.leaf-fall-animation {
    animation: 4s linear 0s normal none infinite running leaf-fall-animationFrames;
    transform-origin: 50% 50% 0;
}
@keyframes leaf-fall-animationFrames {
	0% {
		opacity: 0;
		transform: translate(-317px, 151px) rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: translate(630px, -233px) rotate(460deg);
	}
}
.light-rotator {
    animation-delay: 0ms !important;
    bottom: 50%;
    left: 50%;
    position: absolute;
    width: 1px;
}
.light-rotator.item1 {
    animation-delay: 0ms !important;
    opacity: 0;
    width: 15px;
}
.light-rotator.item2 {
    animation-delay: 300ms !important;
    bottom: 40%;
    left: 40%;
    opacity: 0;
    width: 5px;
}
.light-rotator.item3 {
    animation-delay: 0ms !important;
    bottom: 45%;
    left: 60%;
    opacity: 0;
    width: 25px;
}
.light-rotator.item4 {
    animation-delay: 700ms !important;
    bottom: 70%;
    left: 30%;
    opacity: 0;
    width: 30px;
}
.light-rotator.item5 {
    animation-delay: 900ms !important;
    bottom: 67%;
    left: 60%;
    opacity: 0;
    width: 30px;
}
.light-rotator {
    animation: 2s linear 0s normal none infinite running light-rotator;
    transform-origin: 50% 50% 0;
}
@keyframes light-rotator {
	0% {
		opacity: 1;
		transform: translate(-258px, 48px) rotate(-200deg) scaleX(1) scaleY(1);
	}
	45% {
		transform: translate(65px, -165px) rotate(-74deg) scaleX(-1.52) scaleY(1.34);
	}
	64% {
		transform: translate(118px, -229px) rotate(-22deg) scaleX(-1.84) scaleY(1.76);
	}
	81% {
		transform: translate(235px, -224px) rotate(26deg) scaleX(-2.11) scaleY(2.14);
	}
	93% {
		transform: translate(310px, -206px) rotate(59deg) scaleX(-2.31) scaleY(2.4);
	}
	100% {
		opacity: 0;
		transform: translate(324px, -201px) rotate(79deg) scaleX(-2.43) scaleY(2.56);
	}
}
.leaffallrotator-animation {
    animation: 2s linear 0s normal none infinite running leaffallrotator-animation;
    transform-origin: 50% 50% 0;
}
@keyframes leaffallrotator-animation {
	0% {
		opacity: 0;
		transform: translate(0px, 0px) rotate(-200deg);
	}
	49% {
		opacity: 1;
		transform: translate(173px, -164px) rotate(54deg);
	}
	100% {
		opacity: 0;
		transform: translate(414px, -220px) rotate(319deg);
	}
}